<nav class="px-2 sm:px-4 border-soothYellow border-b-2 pt-1 bg-black">
  <div
    class="container flex flex-wrap md:justify-center justify-between items-center mx-auto"
  >
    <!-- the icon with animation that routes to the browse page -->
    <a routerLink="/" class="flex items-center group p-4">
      <img
        src="../../../assets/icons/play_arrow.svg"
        class="group-hover:animate-spinout mr-3 h-6 sm:h-9"
        alt="movies logo"
      />
      <span
        class="self-center text-xl font-semibold whitespace-nowrap text-soothYellow"
        >MovieZ</span
      >
    </a>
    <!-- custom hamburger icon for small screens -->
    <button
      (click)="toggleHamburger()"
      data-collapse-toggle="navbar-default"
      type="button"
      class="md:hidden hover:outline outline-1 outline-soothYellow group rounded active:bg-soothYellow"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <div class="space-y-1 m-2">
        <div class="rounded w-6 h-1 bg-soothYellow group-active:bg-black"></div>
        <div class="rounded w-6 h-1 bg-soothYellow group-active:bg-black"></div>
        <div class="rounded w-6 h-1 bg-soothYellow group-active:bg-black"></div>
      </div>
    </button>
    <!-- the navigation content (folows state of the hamburger icon state). -->
    <div
      [hidden]="!hamburgerOpen"
      class="md:visible w-full md:block md:w-auto"
      id="navbar-default"
    >
      <ul
        class="flex flex-col p-4 mt-4 bg-black rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0"
      >
        <!-- the brouwse page -->
        <li class="popout pt-2">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="onHamburgerItemClick()"
            class="rounded-md outline-soothYellow text-lg block py-2 pr-4 pl-3 text-soothYellow"
            >Browse <fa-icon icon="list" size="lg" class="px-2"></fa-icon>
          </a>
        </li>
        <!-- the personal/watchlist page (lazy loaded). -->
        <li class="popout pt-2">
          <a
            routerLink="/watchlist"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="onHamburgerItemClick()"
            class="rounded-md outline-soothYellow text-lg block py-2 pr-4 pl-3 text-soothYellow"
            >Personal<fa-icon icon="book" size="lg" class="px-2"></fa-icon>
          </a>
        </li>
        <!-- the search page (lazy loaded). -->
        <li class="popout pt-2">
          <a
            routerLink="/searchlist"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="onHamburgerItemClick()"
            class="rounded-md outline-soothYellow text-lg block py-2 pr-4 pl-3 text-soothYellow"
            >Search <fa-icon icon="search" size="lg" class="px-2"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
