<div *ngIF="!movie">
  <p>no movies found.</p>
</div>

<!-- <div *ngFor="let movie of movies" class="w-full flex-none outline outline-1 outline-soothYellow p-2">
  <img src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" [alt]="movie.title">
  <ul>
    <li>{{ movie.id }}</li>
    <li>{{ movie.title }}</li>
  </ul>
  <div class="flex">
    <div *ngIf="!isDetail">
        {{ movie.overview | snubText : 50 }}
    </div>
    <div *ngIF="isDetail">
        {{ movie.overview }}
    </div>
  </div>
  <button (click)="detail(movie.id)" class="w-full rounded bg-soothYellow mt-2 p-1 active:bg-black active:text-soothYellow">show more</button>
</div> -->

<div *ngFor="let movie of movies" class="relative flex-none outline outline-1 outline-soothYellow bg-black">
  <img src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}" [alt]="movie.title"
  class="md:max-w-md">
  <div class="absolute w-full top-0 bg-black opacity-70 text-white text-center">
    <h5 class="">{{ movie.title }}</h5>
    <p >
      {{ movie.overview | snubText : 50 }}
    </p>
  </div>
  <div class="bg-black">
    <button (click)="detail(movie.id)"
    class="absolute bottom-0 w-full bg-soothYellow py-1 md:py-2 active:bg-black active:text-soothYellow">
      show more
    </button>
  </div>
</div>
