<div class="relative flex-none outline outline-0 outline-soothYellow bg-black">
  <img
    src="https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}"
    [alt]="movie.title"
    class="md:w-1/2 m-auto"
  />
  <div class="absolute w-full top-0 bg-black opacity-70 text-white text-center">
    <h5 class="">{{ movie.title }}</h5>
  </div>
  <div class="bg-black">
    <button
      *ngIf="liked; else notLiked"
      (click)="save($event)"
      class="bottom-0 w-full bg-soothYellow py-1 md:py-2 active:bg-black active:text-soothYellow opacity-40 hover:opacity-80"
    >
      Save movie
    </button>
    <ng-template #notLiked>
      <button
        (click)="remove($event)"
        class="bottom-0 w-full bg-soothYellow py-1 md:py-2 active:bg-black active:text-soothYellow opacity-50 hover:opacity-100"
      >
        Remove movie
      </button>
    </ng-template>
  </div>
</div>
<div
  class="relative flex-none outline outline-0 outline-soothYellow bg-black md:mb-4"
>
  <p class="text-white p-5">
    {{ movie.overview }}
  </p>
  <!-- start watched toggle button -->
  <p class="text-black p-5 text-3xl">
    <button
      *ngIf="watched"
      class="rounded bottom-0 w-1/3 bg-soothYellow py-1 md:py-2 active:bg-black active:text-soothYellow opacity-50 hover:opacity-100"
      (click)="toggleWatched()"
    >
      watched <fa-icon icon="check" size="lg"></fa-icon>
    </button>
    <button
      *ngIf="!watched"
      class="rounded bottom-0 w-1/3 bg-soothYellow py-1 md:py-2 active:bg-black active:text-soothYellow opacity-50 hover:opacity-100"
      (click)="toggleWatched()"
    >
      watch <fa-icon icon="plus" size="lg"></fa-icon>
    </button>
  </p>
  <!-- end watched toggle button -->
</div>
