/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-soothYellow: 250 204 21;
}

/* nav ul {
  align-items: center;
}

nav ul li {
  border: 1px solid black;
  border-radius: 3px;
} */
