/* Popout slides out all child elements when parent is hovered. */
.popout > * {
  transition: 0.5s ease-in-out;
  border-radius: 0.3rem;
  padding: 1rem;
  outline: none rgb(250 204 21);
}
.popout:hover > * {
  transform: translate(-0.3rem, -0.3rem);
  box-shadow: 0.3rem 0.3rem 0 rgb(250 204 21);
  outline: solid 1px rgb(250 204 21) !important;
}
.popout:active > * {
  background: rgb(250 204 21);
  color: black;
  transition: 0.01s;
}


nav a.active {
  outline: dashed 1px rgb(250 204 21) !important;
}
